h1 #{@post['title']}
hr
p #{@post['content']}
- if(@post['image_id'])
    img src="/posts/images/#{@post['user_id']}/#{@post['image_id']}.png" alt="Epic"


br
br
hr
h3 Comments
- if(session['user_id'])
    form action="/post/#{@post['id']}/#{@post['id']}/#{@post['depth'] + 1}" method="post"
        input required="" type="text" name="content"
        button type="submit" Reply
hr
div class="Comments"
    == slim :"post/comment", locals: {comments: @comments } 

br
br
hr