h1 #{@post.title}
a href="/user/#{@post.user_id}" Posted by #{@post.user_name} | #{getTimeElapsedStr(@post.date)}
- if(User.getCurrentUser().id == @post.user_id && @post.exist != 0)
    form action="/post/delete/#{@post.id}" method="post"
        button type="submit" Delete Post
hr
p #{@post.content}
- if(@post.image_name)
    img src="/posts/images/#{@post.user_id}/#{@post.image_name}" alt="#{@post.image_name}"


br
br
== slim(:"post/rating", locals: {post: @post })
hr
h3 Comments
- if(User.getCurrentUser())
    form action="/post/#{@post.id}/#{@post.id}/#{@post.depth + 1}" method="post"
        input required="" type="text" name="content"
        button type="submit" Reply
hr
div class="Comments"
    == slim :"post/comment", locals: {comments: @comments } 

br
br
hr