form {
    display: inline;
}

div.comment {
    padding-left: 16px;
    border-left: 1px grey solid;
}

div.comment-content {
    padding-bottom: 5px;
    border-bottom: 1px grey solid;
}

div.comment-content-more-info {
    display: none;
}

img {
    width: 100%;
}

.postTitle {
    font-size: larger;
    text-decoration: none;
}

.rating p {
    display: inline;
}

.selectedRating {
    background-color: blue;
    color: white;
}